* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
}

.loginContainer{
    background-color: #ebeef7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    background: url('../../assets/imagelogin.png');
    background-position: center;
    background-size: cover;
}

@media(max-width: 768px){
    main{
        grid-template-columns: 1fr;
    }
}