.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.content{
    min-width: 32rem;
    border-radius: 6px;
    padding: 2.5rem 3rem;
    background-color:  #fff;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content div{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    font-family: Roboto;
}

.content div h1{
    font-size: 1.5rem;
    font-weight: 500;
}

.content  .close{
    width: 1.7rem;
    height: 1.7rem;
    background-color: #D70000;
}

.form button{
    background-color: #008177
}