.formContainer{
    background-color: #fff;
    height: 100vh;
    width: 100%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #5a5a5a;
}

.formHeader{
    background-color: #008177;
    padding: 0.5rem 1rem;
    margin: -1rem -1rem 0rem;
}

.formBody{
    margin: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formHeader h1, .formBody h1{
    font-weight: 400;
    padding-bottom: 0.5rem;
    color: #fff;
}

.formBody h1{
    color: #5a5a5a;
}

.formBody form{
    gap: 2.5rem;
}

form input{
    width: 100%;
    height: 2.5rem;
    border: 1px solid #dfdfdf;
    padding: 0 1rem;
    border-radius: 3px;
}


.formBody form .input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-areas: "first last"
                         "email email"
                         "password confirmPassword"
                         "phone date";
}

.input div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

span, .input div p{
    font-size: 0.75rem;
    width: 100%;
    height: 1rem;
    color: red;
}

.input div p{
    color: transparent;
}

.first{
    grid-area: first;
}


.last{
    grid-area: last;
}

.email{
    grid-area: email;
}

.password{
    grid-area: password;
}

.confirmPassword{
    grid-area: confirmPassword;
}

.email{
    grid-area: email;
}

.date{
    grid-area: date;
}

.formBody .button{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.formBody input[type="date"]{
    width: 100%;
    font-family: 'Roboto';
}

.formBody .button button{
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formBody .button .confirm{
    background-color: #008177;
}

.cancel{
    background-color: #fff;
    color: #008177;
    border: 1px solid #008177;
    text-decoration: none;
    transition: all ease 0.2s;
}
