.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.content{
    min-width: 64rem;
    border-radius: 6px;
    background-color:  #fff;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content .header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    font-family: Roboto;
    background-color: #1a1a1a;
    color: #fff;
    padding: 1.5rem;
}

.content div h1{
    font-size: 1.5rem;
    font-weight: 500;
}

.content  .close{
    width: 1.7rem;
    height: 1.7rem;
    background-color: #D70000;
}

.content .title{
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
    border-bottom: 1.8px solid #008177;
}

.content .title div, .participante{
    display: flex;
    align-items: center;
    gap: 0 0.75rem;

    font-family: Roboto;
}

.content .title div img, .participante img{
    width: 3rem;
    border-radius: 50%;
    border: 1px solid #dfdfdf
}

.content .title .organizador div{
    flex-direction: column;
}

.content .title .organizador div span, .participante span{
    color: #1a1a1a
}

.content .infosMentoria{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.content .infosMentoria .descricao{
    display: flex;
    flex-direction: column;

    font-family: Roboto;
}

.content .infosMentoria .descricao .body{
    padding: 1rem 2rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content .infosMentoria .descricao .footer{
    display: flex;
    gap: 1rem;
    background-color: #1a1a1a;
    padding: 1rem;
}

.content .infosMentoria .descricao .footer button{
    width: 7rem;
    height: 2.25rem;
    display: flex;
    gap: 0.5rem;
}

.content .infosMentoria .descricao .footer .editar{
    background-color: #FFC700;
}

.content .infosMentoria .descricao .footer .deletar{
    background-color: #D70000;
}

.content .infosMentoria .outros{
    background-color: #f1f1f1;
}

.content .infosMentoria .outros .infosDuracao, .content .infosMentoria .outros .infosData{
    display: flex;
    align-items: center;

    padding: 1rem;
    gap: 0.5rem;
    font-family: Roboto;
    font-size: 0.85rem;

    border-bottom: 1px solid #1a1a1a;
}

.content .infosMentoria .outros .integrantes .title{
    background-color: #008177;
    font-family: Roboto;
    color: #fff
}

.participantesContainer{
    height: 37.05vh;
    overflow-Y: scroll;
}

.participantesContainer .participante{
    align-items: center;

    padding: 0.75rem;
}

.participantesContainer .participante img{
    width: 2rem;
    height: 2rem;
}