.loginBody{
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
}

.formHeader{
    background-color: #008177;
    color: #fff;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.formHeader img{
    width: 10rem;
}


.formBody{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formBody h1, .checkbox p, a{
    font-family: 'Roboto';
    font-weight: 400;
    color: #5a5a5a;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form .iconInput{
    width: 100%;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #5a5a5a;
}

form .iconInput input, form input{
    width: 100%;
    height: 2.5rem;
    border: 1px solid #f1f1f1;
    padding: 0 1rem;
    border-radius: 3px;
}

.inputCheckbox{
    width: 1rem;
}

form input:focus{
    outline: none;
    border: 1px solid #008177;
}

form div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form .formOptions a{
    font-size: 0.8rem;
    color: #5a5a5a;
}

.checkbox{
    gap: 0.5rem;
}

.login, .google, button{
    width: 100%;    
    height: 2.5rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #008177;
    cursor: pointer;
    transition: all ease 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login a{
    color: #fff;
    text-decoration: none
}

.google{
    background-color: #d95040;
    gap: 1rem;
}

.google:hover, .login:hover{
    opacity: 0.9;
}

.signUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: 'Roboto';
    color: #5a5a5a;
}

.signUp a{
    color: #008177;
    font-weight: bold;
}