.body{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    padding: 1.27rem;
    padding-bottom: 0;
    box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.2);
}

.body .header .title{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.body .header .title h1{
    font-weight: 300;
    color: #1a1a1a;
}

.body .header .title button{
    width: 2rem;
    border-rabius: 50%;
    background-color: transparent;
}

.body .table{
    padding-top: 1rem;
    width: 100%;
    font-size: 1.25rem;
    display: grid;
    gap: 1rem
}

.body .table thead, table tr{
    display: grid;
    gap: 0.25rem;
    grid-template-columns: 2fr 3fr 2fr 2fr 1fr;
}

.body .table thead th{
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
}

.body .table tbody tr{
    border-top: 1px solid #dfdfdf;
    margin: 0 -1.25rem;
    padding: 0.5rem 1.25rem;
}

.body .table tbody .a{
    background-color: #f2f2f2;
}

.body .table tbody .b{
    background-color: #fff
}

.body .table tbody td{
    display: flex;
    align-item: center;
    gap: 1rem;
}

.body .table tbody .participante{
    margin-right: -2rem;
}

.body .table tbody .data{
    display: flex;
    align-item: center;
    gap: 0.5rem;
}

.body .table tbody td img{
    width: 2.5rem;
    border-radius: 50%;
    border: 1px solid #dfdfdf
}

.body .table tbody td p{
    margin: auto 0;
    font-size: 0.8rem;
    font-weight: 400;
}

.body .table tbody .infos .modal{
    width: 2rem;
    height: 2rem;
    background: transparent;
    margin: auto 0;
}

.body .table tbody tr .infos .modal button{
   
}