.sidebar{
    height: 100vh;
    width: 12rem;
    max-width: 225px;
    background-color: #1a1a1a;
    color: #dee2ec;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.logo{
    height: 10vh;
    padding: 0.75rem 0.5rem;
    display: flex;
    width: 100%;
}

.logo img{
    width: 8rem;
}

.options h1{
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 1rem
}

.user, .title {
    padding: 1rem 0.75rem;
    width: 100%;
}

.user{
    display: flex;
    gap: 1rem;
    width: 100%;
    background-color: #2c2c2c
}

.userInfo{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.userInfo h1{
    font-size: 0.85rem;
    font-weight: 400
}

.userInfo p{
    font-size: 0.75rem;
    font-weight: 400
}

.user img{
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 8px
}

.user span{
    display: flex;
    gap: 0.35rem;
    align-items: center;
    color: #dee2ec;
}

.user .status{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 9999px;
    background-color: green;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0.75rem;
    width: 100%;
    height: 100%;
    max-height: 550px;
}

.selectOption{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 0.5rem;
    transition: all ease 0.2s;
    margin: 0 -0.5rem;
    border-radius: 5px;
    color: #fff;
}

.selectOption:hover{
    cursor: pointer;
    background-color: #282828;
}

.icon{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    border-radius: 5px;
}