.profileContainer{
    height: 100%;
}

.column1{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 2rem;
    font-family: Roboto;
}

.column1 h1{
    font-weight: 500;
}

form .input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    grid-template-areas: "first last"
                         "email email"
                         "phone linkedin";
}

form input:focus{
    outline: none;
    border: 1px solid #1a1a1a;
}

form button{
    display: flex;
    gap: 0.5rem;
    background-color: #1a1a1a
}

.column2{
    display: flex;
    flex-direction: column;
    gap: 2rem 0
}

.profileContainer{
    display: grid;
    grid-template-columns: 2.25fr 1fr;
    gap: 2rem;
}

.profileContainer .cardContainer{
    background-color: #fff;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.2);
}

.cardBackground{
    width: 100%;
    height: 7rem;
}

.cardBackground img{
    width: 100%;
    height: 100%;
}

.avatarUser{
    width: 8rem;
    height: 8rem;
    border-radius: 9999px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -4rem
}

.avatarUser img{
    width: 100%;
    height: 100%;
    border: 4px solid #fff;
    border-radius: 9999px
}

.cardContainer .infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 2rem;
    gap: 0.5rem 0
}

.cardContainer .infos h1{
    font-size: 1.25rem;
    font-family: Roboto;
    font-weight: 500
}

.cardContainer .infos p{
    margin-bottom: 1.5rem;
    font-size: 0.85rem;
    font-family: Roboto;
    font-weight: 400;
    text-align: center
}

.footerCard{
    height: 100%;
}

.cardContainer .footerCard{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 2rem;
    border-top: 1px solid #dfdfdf;
    gap: 1rem;
    color: #1a1a1a;
}

.buttonsContainer{
    display: flex;
    gap: 1rem;
    background-color: #fff;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1rem
}

.buttonsContainer button{
    background-color: #fff;
    color: #000;
    display: flex;
    gap: 0.5rem;
    transition: all 0.3s
}

.buttonsContainer .confirm{
    border: 1px solid green;
    color: green;
}

.buttonsContainer .cancel{
    border: 1px solid red;
    color: red;
}

.buttonsContainer .confirm:hover{
    background-color: green;
    color: #fff
}

.buttonsContainer .cancel:hover{
    background-color: red;
    color: #fff
}

.input div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input div p{
    color: transparent;
}

.first{
    grid-area: first;
}

.last{
    grid-area: last;
}

.email{
    grid-area: email;
}

.email, .last, .first, .linkedin,
.phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}